#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.sidenav {
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 2%;
	left: 1%;
	background: #eee;
	overflow-x: hidden;
	padding: 8px 0;
}
.rightmain {
	margin-left: 16%; /* Same width as the sidebar + left position in px */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #2196F3;
	display: block;
}

.sidenav a:hover {
	color: #064579;
}
#confirm button {
	display: inline-block;
	text-align: center;
 	cursor: pointer;
}
#confirm .message {
	text-align: left;
}
.psicontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.psicontrolsdetails {
	margin: 0;
}

.researchcontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.researchcontrolsdetails {
	margin: 0;
}

.marketcontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.marketcontrolsdetails {
	margin: 0;
}
.hidden {
	visibility: hidden;
	opacity: 0;
	display: none;
}
.visible {
	visibility: visible;
	opacity: 1;
	display: block;
}

button {
        border-radius: 10px;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.handcontrols {
}

.presscontrols {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.left-column {
	width: 50%;
	display: inline-block;
	float: left;
}

.right-column {
	width: 50%;
	display: inline-block;
	float: right;
}

#load {
	margin: auto;
}
