.nav-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-li {
	float: left;
}

.nav-li-a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-li-b {
	display: block;
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
}

#confirm button {
	display: inline-block;
	text-align: center;
 	cursor: pointer;
}
#confirm .message {
	text-align: left;
}
.psicontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.psicontrolsdetails {
	margin: 0;
}

.researchcontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.researchcontrolsdetails {
	margin: 0;
}

.marketcontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.marketcontrolsdetails {
	margin: 0;
}
.hidden {
	visibility: hidden;
	opacity: 0;
	display: none;
}
.visible {
	visibility: visible;
	opacity: 1;
	display: block;
}

button {
        border-radius: 10px;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.handcontrols {
}

.presscontrols {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.left-column {
	width: 50%;
	display: inline-block;
	float: left;
}

.right-column {
	width: 50%;
	display: inline-block;
	float: right;
}

#load {
	margin: auto;
}
