.nav-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.nav-li {
	float: left;
}

.nav-li-a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-li-a:hover {
	background-color: #111;
}

#confirm {
	display: none;
	border: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
}
#confirm button {
	display: inline-block;
	text-align: center;
 	cursor: pointer;
}
#confirm .message {
	text-align: left;
}
.psicontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.psicontrolsdetails {
	margin: 0;
}
.psicontroldetails:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.researchcontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.researchcontrolsdetails {
	margin: 0;
}
.researchcontroldetails:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.marketcontrols {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.marketcontrolsdetails {
	margin: 0;
}
.tab {
	visibility: hidden;
	opacity: 0;
	display: none;
}
.tab:target {
	visibility: visible;
	opacity: 1;
	display: block;
}
* {
        font-family: sans-serif;
        position: relative;
        margin: 0;
}
button {
        border-radius: 10px;
	background-color: #696969;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.handcontrols {
}
.presscontrols {
	visibility: hidden;
	opacity: 0;
	display: none;
}
.left-column {
	width: 50%;
	display: inline-block;
	border-right: 1px solid black;
	float: left;
}
.right-column {
	width: 50%;
	display: inline-block;
	float: right;
}
