.nav-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 50px;
}

.nav-li {
	float: left;
	height: 50px;
}

.nav-li-a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 50px;
}

.nav-li-b {
	display: block;
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
	height: 50px;
}
