.nav-ul {
  background-color: #F5761A;
}

.nav-li-a:hover {
	background-color: #93460F;
}

.psicontroldetails:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.researchcontroldetails:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
  background-color: #F5761A;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.left-column {
  border-right: 1px solid orange;
}
