body {
  background-color: #ffffff;
}

p {
  color: black;
}

h1 {
  color: black;
}

h3 {
  color: black;
}

.nav-li-a {
  color: white;
}


#confirm {
  background: #fff;
}

button {
	color: white;
}

.left-column {
  border-right: 1px solid black;
}
